$primarycolor:rgb(97, 97, 245);
$secondarycolor:rgb(241, 181, 67);
$white:#EEF0F3;;
%button{
    background-color: $secondarycolor;
    height: 30px;
    width: 100px;
    padding :2px 10px;
    margin :0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #f3f3f3;
    transition: 0.1s ease all;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    &:hover{
        transform: scale(1.07);
    }
    &:active{
        transform: scale(0.95);
        transform: translate(2%,2%);
    }
}