@import '../../../sass/Parents';
.postInputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.postInputArea{
    width: 550px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 2rem;
    border: none;
    resize: none;
    outline: none;
    &:focus{
        outline: none;
    }
}
.textAreaLabel{
    color: $white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: 680px;
    margin-bottom: 10px;
}

.controlls{
    background-color: lighten($white,10%);
    width:70%;
    height: 50px;
    align-self: center;
    border: none;
    outline: none;
    position: relative;
}
.postSubmitButton{
    @extend %button;
    position: absolute;
    width: 150px;
    right: 10px;
    top: 14px;
}